
- #app/views/orders_item_fields_selleck_template.html.haml

%script#item(type='text/selleck_template')
  %li
    %dl
      %dt
        %label(for="order_items_attributes_{{timestamp}}_product") Product
      %dd
        %select(id="order_items_attributes_{{timestamp}}_product" name="order[items_attributes][{{timestamp}}][product]")
          - PRODUCT.each do |product|
            %option(value="#{product}")= product
    %dl
      %dt
        %label(for="order_items_attributes_{{timestamp}}_quantity") Quantity
      %dd
        %input(id="order_items_attributes_{{timestamp}}_quantity" name="order[items_attributes][{{timestamp}}][quantity]" type="text")

    %dl
      %dt
        %label(for="order_items_attributes_{{timestamp}}_price") Price
      %dd
        %input(id="order_items_attributes_{{timestamp}}_price" name="order[items_attributes][{{timestamp}}][price]" type="text")

    = link_to 'delete', '#', class: 'delete'
