html
  height: 100%
  padding: 0
  margin: 0
  font-family: sans-serif
  body
    padding: 0
    margin: 0
    div#code
      position: absolute
      left: 525px
      top: 0px
      nav
        font-family: monospace
      & > div
        background: #eee
        display: none
        padding: 0 1em
      & > div.current
        display: block
    section
      width: 500px
      padding: 10px
      border: solid 1px #aaa
      h1
        margin-top: 0
      ul
        li
          margin: 10px 0
      form
        dl
          dd
            margin-left: 10px
            input[type="text"]
              border: solid 1px #aaa
              width: 300px
        div#items
          fieldset
            margin: 0
            padding: 0
            border: 1px dotted #aaa
            border-left: none
            border-right: none
            div
              float: left
              margin: 10px 5px
              label
                display: block
              input[type="text"]
                border: solid 1px #aaa
                width: 100px
        div#add_item
          float: right
          margin: 0 0 20px 0
          margin-top: 10px
        div#actions
          margin-top: 10px
      table.order
        width: 500px
        border-spacing: none
        th, td
          text-align: right
          width: 33%
          padding: 3px 10px
        tr
          &:nth-child(even)
            background: #ddd
