html
  height: 100%
  padding: 0
  margin: 0
  font-family: sans-serif
  body
    padding: 0
    margin: 0
    nav.github_link
      float: right
      padding: 1em

    section#code_viewer
      background: #eee
      top: 0px
      nav
        font-family: monospace
      & > div
        display: none
        padding: 0 1em
      & > div.views
        display: block
    section
      padding: 10px
      border: solid 1px #aaa
      h1
        margin-top: 0
      ul
        li
          margin: 10px 0
      form
        fieldset
          padding: 0
          margin: 0
          border: none
        dl
          dd
            margin-left: 10px
            input[type="text"]
              border: solid 1px #aaa
              width: 300px
        ul#items
          padding: 0
          margin: 0
          li
            overflow: hidden
            padding: 10px 5px
            margin: 0
            list-style: none
            border: 1px dotted #aaa
            border-width: 1px 0
            + li
              border-top: none
            dl
              float: left
              padding: 0
              margin: 0 10px 0 0
              dt
                padding: 0 0 3px 0
                margin: 0
              dd
                padding: 0
                margin: 0
              input[type="text"]
                width: 100px
                border: 1px solid #aaa
            a.delete
              float: right
              margin: 30px 0 0 0
        fieldset.actions
          margin-top: 10px
          a#add_item
            float: right
            margin: 0 0 20px 0
      table.order
        width: 500px
        border-spacing: none
        th, td
          text-align: right
          width: 33%
          padding: 3px 10px
        tr
          &:nth-child(even)
            background: #ddd
